<p>Nuevo Taller</p>
<form class="" action="/create" method="post">
	<fieldset>
		<label for="name">Nombre: </label><br>

		 <input type="text" name="name" value="name" id="name">
	</fieldset>
	<fieldset>
		<label for="description">Descripción:</label><br>
		<textarea name="description" rows="6"  cols="20" id="description"></textarea>
	</fieldset>
	<fieldset>
		<input type="submit" name="Enviar">
	</fieldset>
</form>